.Image_effect_spark
{
    position: relative;
}

.Image_effect_spark::after
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    background: white;
    opacity: 0.8;
    transform: skew(-15deg);
    animation: run 1s infinite;
}

@keyframes run {
    to { left: 100%; }
}
